# Byte-compiled Python files
**/*.pyc

# Python cache directories
**/__pycache__/**

# Environment variables file
.env

# Git files
.git/**

# Virtual environment
.venv/**

# Automation scripts
automations/**

# Documentation
docs/**

# Log directories
logdir/**

# Test files
tests/**

# Prisma migrations
prisma/migrations/**

# Specific files
Dockerfile
README.md
pytest.ini
package.json